@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}
body{
    background-color: #13131F;
    color: white;
}


/*Construção do menu*/
.menu-container{
    border-bottom-style: solid;
    border-color: #8257E6;

}
.itens{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

h1{
    color: #fff;
}

/*Construção sessão apresentação*/
.apresentacao{
    display: flex;
    /*flex-direction: row;
    flex-wrap: nowrap;
    */
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.foto{
    background-color: #0A1C4E;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.foto:hover{
    transform: scale(1.2);
}

.titulos{
    padding-bottom: 30px;
    font-size: 30px;
}
.titulos h1{
    padding-bottom: 20px;
}
span{
    color:#8257E6 ;
}
#profissao{
    font-size: 20px;
}

.buttons button{
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 15px;
}
#b1{
    background-color: #8257E6;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
#b1:hover{
    transform: scale(1.2);
}
#b2{
    background-color: rgba(15, 15, 15, 0.5);
    border: 1px solid #8257E6;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 20px;
}
#b2:hover{
    transform: scale(1.2);
}


/*Contrução sobre mim*/
.sobre{
    width: 70%;
    margin: 0 auto;
    padding: 15px;
}
h2{
    text-align: center;
    border-bottom-style: solid; 
    border-bottom-color: #8257E6;
    width: 20%;
    margin: 0 auto;
}

.about{
    padding-top: 20px;
    text-align: center;
    line-height: 1.5;
}




footer{
    text-align: center;
    border-top: 2px solid #8257E6;
    padding: 20px;
}