@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}
body{
    background-color: #13131F;
    color: white;
}


/*Construção do menu*/
.menu-container{
    background-color: #13131F;
    border-bottom-style: solid;
    border-color: #8257E6;
    position: sticky;
    top: 0;
    z-index: 2;
}
.itens{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

h1{
    color: #fff;
}
.fa-solid{
    cursor: pointer;
}

/*construção darkmode toggle*/
label{
    width: 50px;
    height: 20px;
    position: relative;
    display: block;
    background: #585757;
    border-radius: 10px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
}
label:after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 1px;
    background: linear-gradient(180deg, #777, #3a3a3a);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

input{
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}

input:checked + label{
    background-color: #e7e4e4;
}
input:checked + label:after{
    left: 50px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#ffcc89, #d8860b);
}

/*Construção sessão apresentação*/
.apresentacao{
    display: flex;
    /*flex-direction: row;
    flex-wrap: nowrap;
    */
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.foto{
    background-color: #0A1C4E;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.foto:hover{
    transform: scale(1.2);
}

.titulos{
    padding-bottom: 30px;
    font-size: 30px;
}
.titulos h1{
    padding-bottom: 20px;
}
span{
    color:#8257E6 ;
}
#profissao{
    font-size: 20px;
}

.buttons button{
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 15px;
}
#b1{
    background-color: #8257E6;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
#b1:hover{
    transform: scale(1.2);
}
#b2{
    background-color: rgba(15, 15, 15, 0.5);
    border: 1px solid #8257E6;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 20px;
}
#b2:hover{
    transform: scale(1.2);
}


/*Contrução sobre mim*/
.sobre{
    width: 70%;
    margin: 0 auto;
    padding: 15px;
}
h2{
    text-align: center;
    border-bottom-style: solid; 
    border-bottom-color: #8257E6;
    width: 20%;
    margin: 0 auto;
}

.about{
    padding-top: 20px;
    text-align: center;
    line-height: 1.5;
}


/*Habilidades*/
.habilidade{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.skills{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}
.linguagem{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    text-align: center;
    background-color: #212121;
    border-radius: 10px 0px 0px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid #8257E6;
    padding: 20px;
}

footer{
    text-align: center;
    border-top: 2px solid #8257E6;
    padding: 20px;
}